name: second demo workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:    # run enable run workflow button on github repository to trigger manually

jobs:
  buildjob1:
    runs-on: ubuntu-latest
    # Whatever mentioned under steps will be performed sequentially
    steps:
      - name: step1
        uses: actions/checkout@v4

  buildjob2:
    runs-on: windows-latest
    steps:
      # run module is to run the OS command directly
      - name: echo message
        run: echo %COMPUTERNAME%
